@model List<Size>
@{
    ViewData["Title"] = "Index";
}
<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="MultiShopAdmin" asp-controller="size" asp-action="Create">Create new Size</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                   <th>
                       Settings
                    </th> 
                </tr>
            </thead>
            <tbody>
                @foreach (Size size in Model.OrderByDescending(p=>p.Id))
                {
                    <tr>

                        <td>
                            @size.Id
                        </td>
                        <td>
                            @size.Name
                        </td>    
                        <td >
                            <div class="d-flex">
                                 <div>
                                    <a asp-area="MultiShopAdmin" asp-controller="size" asp-action="Update" asp-route-id="@size.Id" class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-area="MultiShopAdmin" asp-controller="size" asp-action="Delete" asp-route-id="@size.Id"><i class="mdi mdi-delete"></i></a>
                                </div>
                            </div> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




